<!DOCTYPE html>
<html>
<title>Pundarikaksha</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->

  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>EXPERIENCES & PROJECTS</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">EXPERIENCES & PROJECTS</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">Pundarikaksha</h1>
    <p>Upcoming Product Intern @Adobe | Student at Indian Institute of Technology Guwahati</p>
    <img src="IMG_1699.png" alt="boy" class="w3-image" width="300" height="1000">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">About Me</h2>
    <hr style="width:200px" class="w3-opacity">
    <h5>Hello! I'm Pundarikaksha Mohanty, a student currently pursuing a degree in Civil Engineering at the prestigious Indian Institute of Technology Guwahati. I am from New Delhi, India. While my academic focus lies in Civil Engineering, my true passion lies in the world of technology. I am particularly enthusiastic about full-stack development, competitive programming, and the fascinating realms of Machine Learning and Artificial Intelligence.

        My journey into the world of web development began during my sophomore year, and since then, I've been dedicated to honing my skills in creating seamless and innovative digital experiences and finding solutions to various problems. I thrive on challenges and am always eager to explore new technologies to stay at the forefront of the ever-evolving tech landscape.
        
        Outside the digital realm, you can find me engaging in various hobbies. I am a fitness enthusiast, dedicated to working out and maintaining a healthy lifestyle. Music is another realm where I find solace, as I enjoy strumming the guitar and creating melodies. Balancing the digital and real-world aspects of life, I also cherish spending quality time with friends, exploring new places, and creating lasting memories.
        
        Join me on this exciting journey as I continue to merge my academic pursuits with my passion for technology, creating a meaningful impact in both the physical and virtual worlds.
    </h5>
    <br>
    <h2 class="w3-text-light-grey">My Skills</h2>
    <hr style="width:200px" class="w3-opacity">
    <div>
    <p class="w3-wide">C/C++</p>
    <p class="w3-wide">Python</p>
    <p class="w3-wide">Javascript</p>
    <p class="w3-wide">HTML/CSS</p>
    <p class="w3-wide">Data Structures and Algorithms</p>
    <p class="w3-wide">Web Development</p>
    <p class="w3-wide">Machine Learning and Artificial Intelligence</p>
    </div>
  <!-- End About Section -->
  </div>
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Experiences</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div >
      <div class="w3-half" style="display: grid;">
        <h3>Research Intern @ IIT Guwahati</h2>
            <p>Worked on increasing the efficiency of solar cells and to find out their dependence on extrinsic factors such as temperature, soiling and weather, using data science and machine learning, under Dr Prabir Barooah, Department of EEE IIT Guwahati.

                Collected data of temperature, active power and irradiance by writing various data mining and web scraping algorithms.
                Decrypted hundreds of encrypted xlsx files to extract data, using python.
                Wrote efficient python code to render data into usable form, analysed them using python libraries.
                Deployed a linear regression model to extract temperature coefficient of a PV module.
                Used several optimisation algorithms to analyse the data, such as YoY method and constraints based minimisation.
                Manuscript in progress.</p>
                <br>
                <br>
      </div>
      <br>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Projects</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div >
      <div class="w3-half" style="display: grid;">
        <h3>Development Projects</h3>
        <a  style="color: rgb(132, 132, 241); text-decoration: none;" href="https://drive.google.com/file/d/1-xK2W3cBqb8w6GVQKz9_Jsy_99EKRyTQ/view?usp=sharing">Alcheringa - Cultural Festival of IIT Guwahati Website</a>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;" href="https://drive.google.com/file/d/1GOHcTJZjSdWBIW-f5fTtHG3buUbDxKEK/view?usp=sharing">Hostel Management Committee Elections - IIT Guwahati Portal</a>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;" href="https://github.com/pundarikaksha7/Social-Media-Website">Social Media Website</a>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;"href="https://github.com/pundarikaksha7/Adobe-Resume-Builder">Resume Generator API </a>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;"href="https://github.com/pundarikaksha7/Portfolio_Website">My Portfolio Website </a>


        <br>
        <br>
        <h3>Data Science and Machine Learning Projects</h3>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;" href="https://github.com/pundarikaksha7/Titanic_Survival_Analysis">Titanic Survival Analysis</a>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;" href="https://github.com/pundarikaksha7/ECommerce_Company_Analytics">Ecommerce Company Analysis</a>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;" href="https://github.com/pundarikaksha7/Ad_Click_Predictor">Ad Click Predictor</a>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;" href="https://github.com/pundarikaksha7/Adobe_PDF_Extractor_Project">PDF Data Extractor</a>

        <br>
        <br>
        <h3>Automation and Web Scraping Projects</h3>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;" href="https://github.com/pundarikaksha7/LinkedIn-Bot">Linkedin Automation Bot</a>
        <a  style="color: rgb(132, 132, 241);text-decoration: none;" href="https://github.com/pundarikaksha7/Job-Finder">Job Finder</a>






        <br>
        <a href="https://github.com/pundarikaksha7?tab=repositories">Github</a>
        <br>
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Delhi, India</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i>pundarikakshamohanty@gmail.com</p>
      <p><i class="fa fa-instagram fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i>pundarikaksha7</p>
      <p><i class="fa fa-linkedin fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i>linkedin.com/in/pundarikaksha7</p>
      <p><i class="fa fa-github fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i>https://github.com/pundarikaksha7</p>



    </div><br>
    <p>Let's get in touch. Send me a message:</p>

    <form action="/send-email" method="post">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!-- End Contact Section -->
  </div>
  

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
